@use '../colors';
@use '../statelessComponents/text';
.board {
  &__column {
    background-color: colors.theme-color('background');
    display: flex;
    flex-direction: column;
  }
  &__column-header {
    height: 3em;
    &.--is-orange {
      background-color: colors.card-color('orange');
    }
    &.--is-yellow {
      background-color: colors.card-color('yellow');
    }
    &.--is-green {
      background-color: colors.card-color('green');
    }
    &.--is-blue {
      background-color: colors.card-color('blue');
    }
  }
  @include text.has-text('board__column-header');
  &__column-body {
    background-color: colors.theme-color('foreground');
  }
  &__card {
    background-color: colors.theme-color('foreground-accent');
  }
  &__card-body {
    color: colors.theme-color('primary');
  }
  &__card-header {
    color: colors.theme-color('secondary');
    &.--has-accent {
      color: colors.theme-color('accent');
    }
  }
}
