@use '../colors';
.btn {
  padding: 1rem;
  color: colors.theme-color('accent');
  background-color: colors.theme-color('foreground');
  min-width: 4rem;
  width: fit-content;
  cursor: pointer;
  &:hover {
    background-color: colors.theme-color('foreground-accent');
  }
  &.--disabled {
    color: colors.theme-color('secondary');
    &:hover {
      background-color: colors.theme-color('foreground');
    }
  }
  &.--is-icon {
    background-color: inherit;
    min-width: fit-content;
  }
}
