@use './text';
@use '../colors';
.toolbar {
  min-height: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 4em;
  width: 100%;
  background-color: colors.theme-color('foreground');
}

@include text.has-text('toolbar');
