@mixin _cross-center {
  align-content: center;
  align-items: center;
}
@mixin _main-center {
  justify-content: center;
  justify-items: center;
}

@mixin flex-basis {
  display: flex;
  &.cross-align {
    &-center {
      @include _cross-center;
    }
    &-end {
      align-content: flex-end;
      align-items: flex-end;
    }
  }
  &.main-align {
    &-center {
      @include _main-center;
    }
    &-end {
      justify-content: flex-end;
      justify-items: flex-end;
    }
    &-start {
      justify-content: flex-start;
      justify-items: flex-start;
    }
    &-space-between {
      justify-content: space-between;
    }
  }
  &.center {
    @include _main-center;
    @include _cross-center;
  }
}
