.m {
  &l-4 {
    margin-left: 0.4rem;
  }
  &r-4 {
    margin-right: 0.4rem;
  }
  &r-6 {
    margin-right: 0.6rem;
  }
  &b-4 {
    margin-bottom: 0.4rem;
  }
  &b-8 {
    margin-bottom: 0.8rem;
  }
  &t-4 {
    margin-top: 0.4rem;
  }
}
